<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>  

</head>

<body>
  <span class="notice"><%= notice %></span>
  <span class="alert"><%= alert %></span>


  <div id="content" class="row">

  <div id="left">
    <ul class="pricing-table">
      <li class="title">Standard</li>
      <li class="price">$99.99</li>
      <li class="description">An awesome description</li>
      <li class="bullet-item">1 Database</li>
      <li class="bullet-item">5GB Storage</li>
      <li class="bullet-item">20 Users</li>
      <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
    </ul>
  </div>

  <div id = "middle" >
      <h1> List of Blogs </h1>

      <% @blogs.each do |blog| %>
        <ul>
          <li><%= link_to blog.title, blog_path(blog) %></li>
          <li><%= truncate(blog.description, length: 225) %></li>
          <li></li>
          <!-- missing ratings above here -->
        </ul>
      <% end %>
      <%= paginate @blogs %>
  </div>

  <div id="right">
    <ul class="pricing-table">
      <li class="title">Standard</li>
      <li class="price">$99.99</li>
      <li class="description">An awesome description</li>
      <li class="bullet-item">1 Database</li>
      <li class="bullet-item">5GB Storage</li>
      <li class="bullet-item">20 Users</li>
      <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
    </ul>
  </div>

</div>
  
</body>


</html>

