<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="Icon" href="/bloggerater_logo.png">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>  
</head>

<body id="index-box">
  <span class="notice"><%= notice %></span>
  <span class="alert"><%= alert %></span>


  <div id="content" class="row outer-box" >

  <div id="left">
    <%= render 'layouts/navbar'%>
    <div id="text">
      <p>About us:  </p>
    </div>
  </div>

  <div id = "middle" >
    <%= render 'layouts/searchbar'%>
    <div id = "text" >
      <h5> Recently Posted Blogs </h5>


      <% @blogs.each do |blog| %>
        <div class="image-container">
          <div class="index-image">
            <%= link_to (image_tag blog.image_url.to_s),
              blog_path(blog) %> 
          </div>
          <div class="image-title-container">
            <%= link_to blog.title, blog_path(blog) %>
          </div>
          <%= truncate(blog.description, length: 115) %>
        </div>
      <% end %>
      <%= paginate @blogs %>
    </div>
  </div>

  <div id="right">
    <%= render 'layouts/right_bar' %>

    <% if !@reviews.nil? %>
      <% @reviews.each do |review| %>
        <div class="review-text">
          <%= review.blog.title %><br>
          <%= link_to truncate(review.comment, length: 100), blog_path(review.blog) %>
          <%= "On: #{review.created_at}" %>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
  
</body>


</html>

