<table>
  <tr>
    <p><%= @blog.title %></p>
    <p><a href="http://<%= @blog.url%>"><%= @blog.url %></a></p>
    <td><%= link_to "Edit", edit_blog_path(@blog) %></td>
    <td><%= link_to "Delete", blog_path(@blog),
      method: :delete %></td>
  </tr>
   
</table>

<p><%= @blog.description %></p>

<%= render 'blogs/review' %>

<% @reviews.each do |review| %>
<div class="review">
  <%= review.reviewer.email %>
  <%= review.comment %>
  <div class="score">
    <%= review.score %>
  </div>

  <%= simple_form_for [review, review.votes.where(user: current_user).first || review.votes.build], html: { class: "change-vote", "data-type" => "json" }, remote: true do |f| %>
    <%= f.hidden_field :vote, value: 1 %>
    <%= f.button :submit, 'Like' %>
  <% end %>

  <%= simple_form_for [review, review.votes.where(user: current_user).first || review.votes.build], html: { class: "change-vote", "data-type" => "json" }, remote: true do |f| %>
    <%= f.hidden_field :vote, value: 0 %>
    <%= f.button :submit, 'Dislike' %>
  <% end %>
</div>
<% end %>
