<table>
  <tr>
    <td><%= link_to @blog.title, @blog.url %></td>
    <td><%= link_to "Edit", edit_blog_path(@blog) %></td>
    <td><%= link_to "Delete", blog_path(@blog),
      method: :delete %></td>
  </tr>
   
</table>

<p><%= @blog.description %></p>

<p><%= link_to 'Blogs Home', blogs_path %></p>

<p>Rate This Blog</p>

<%= simple_form_for [@blog, @rating] do |f| %>
  <%= f.input :blog_rating, label: "Rating", collection: 1..5 %>
  <%= f.button :submit, 'Submit Rating' %>
<% end %>

<% if !@rating.blog_rating.nil? %>
  <p>Your current rating is <%= @rating.blog_rating %></p>
<% end %>