<div class="sticky">
  <nav class="bar top-bar" data-topbar>

    <ul class="title-area">
      <li class="title name">
        <h1><a href="/"><img src="/bloggerater_logo.png" class='star left'>BloggeRater</a></h1>
      </li>
    </ul>

    <ul class="add_blog">
      <li class=""><%= link_to "+", new_blog_path %></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <% if user_signed_in? %>
          <li class="active"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li class="active"><%= link_to "Sign Up", new_user_registration_path%></li>
          <li class="active"><%= link_to "Sign In", new_user_session_path %></li>
        <%end%>
      </ul>


    </section>

    <span class="has-form">
      <%= form_tag(search_blogs_path, method: :get, class: 'large-3 small-3 columns') do %>
        <div class="row collapse">
          <div class="large-8 small-9 columns">
             <%= text_field_tag 'Query', nil, class: '' %>
          </div>
          <div class="large-4 small-3 columns">
            <%= submit_tag 'Search', class: 'alert button expand' %>
          </div>
        </div>
      <% end %>
    </span>

  </nav>
</div>
